$game-toolbar-height = 80px

.game-page {
  min-height: 100vh;
  width: 100vw;
  &__content {
    min-height: "calc(100vh - %s)" % $game-toolbar-height;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
}

.start-new-game-wrapper {
  position: absolute;
  top: 120px;
  button {
    padding: 7px 10px;
  }
}

.board-wrapper {
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}


@media (max-width: 600px) {
  .start-new-game-wrapper {
    bottom: 60px;
    top: unset;
  }
}

@media (max-height: 600px) {
  .start-new-game-wrapper {
    bottom: 60px;
    top: unset;
  }
}
